<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <table style="border: 1px solid red;text-align: center;">
  <tr>
        <th>id</th>
        <th>name2</th>
        <th>email2</th>
        <th>phone2</th>
    </tr>
    {% for getdata in Contact2 %}
    <tr>
      <td>{{getdata.id}} </td>
      <td>{{getdata.name2}} </td>
      <td>{{getdata.email2}} </td>
      <td>{{getdata.phone2}} </td>
    </tr>
   {% endfor %}
    </table>
    <br>
    <h1>Select</h1>
   <select style="width:40px">
    {% for getdata in Contact2 %}
    <option>{{getdata.id}}</option>
    {% endfor %}
   </select>
</head>
<body>
    
</body>
</html>